# ===============================
# Dados (camadas do Data Lake)
# ===============================
data/
data/bronze/
data/silver/
data/gold/

# ===============================
# Cache Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Ambientes virtuais
# ===============================
.venv/
venv/
env/

# ===============================
# Spark / Hadoop temporários
# ===============================
spark-warehouse/
*.log

# ===============================
# OS / IDE
# ===============================
.DS_Store
.vscode/
.idea/
